<h1 class="page-header">Dashboard</h1>

<div class="row">
	<div id="donut-by-type"></div>
</div>

<div class="row">
	<div id="chart-type-by-date"></div>
</div>

<div class="row">
	<form accept-charset="UTF-8" action="/update" method="post">
	  <input type="text" name="year" placeholder="year" />
	  <input type="text" name="month" placeholder="month" />
	  <input type="text" name="day" placeholder="day" />
	  <input type="text" name="hour" placeholder="hour" />
	  <input type="submit"/>
	</form>
</div>

<script type="text/javascript">
	<% if @gitevents_by_types %>
		Morris.Donut({
		  element: 'donut-by-type',
		  data: [
		  	<% @gitevents_by_types.each do |gitevent| %>
				{label: '<%= gitevent["type"] %>' , value: <%= gitevent["count"] %>},	
			<% end %>
		  ]
		});
	<% end %>

	<% if @gitevents_types_by_date %>
		Morris.Line({
		  element: 'chart-type-by-date',
		  data: [
		  	<% @gitevents_types_by_date.each do |gitevent| %>
				{created_at: '<%= gitevent["_id"].to_s(:db) %>' , 
					<% gitevent["value"].each do |type, count| %>
						<%= type %>: <%= count %>,
					<% end %>
				},	
			<% end %>
		  ],
		  xkey: 'created_at',
		  ykeys: [
		  	<% @gitevents_by_types.each do |gitevent| %>
				'<%= gitevent["type"] %>',	
			<% end %>
		  ],
		  labels: [
		  	<% @gitevents_by_types.each do |gitevent| %>
				'<%= gitevent["type"] %>',	
			<% end %>
		  ]
		});
	<% end %> 
</script>
