<%= form_for(@gitevent) do |f| %>
  <% if @gitevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gitevent.errors.count, "error") %> prohibited this gitevent from being saved:</h2>

      <ul>
      <% @gitevent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
