<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Gitevents</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Public</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gitevents.each do |gitevent| %>
      <tr>
        <td><%= gitevent.id %></td>
        <td><%= gitevent.type %></td>
        <td><%= gitevent.public %></td>
        <td><%= gitevent.created_at %></td>
        <td><%= link_to 'Show', gitevent %></td>
        <td><%= link_to 'Edit', edit_gitevent_path(gitevent) %></td>
        <td><%= link_to 'Destroy', gitevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @gitevents %>

<br>

<%= link_to 'New Gitevent', new_gitevent_path, class: "btn btn-primary" %>
