<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @gitevent.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gitevent.type %>
</p>

<p>
  <strong>Public:</strong>
  <%= @gitevent.public %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @gitevent.created_at %>
</p>

<%= link_to 'Edit', edit_gitevent_path(@gitevent) %> |
<%= link_to 'Back', gitevents_path %>
